<!DOCTYPE html>
<html ng-app="aitu-project">
<head>
	<title>Products</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="app.js"></script>
    <style type="text/css">
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}


header{
  padding:5px;
  background-color: white;
  color:#00235f;
  margin-top: -10px;
}

body{
  margin: 0;
  color:  #00235f ;
  background-color: white;
  padding: 0;
  font-family: arial;
}

.slogan h1{
  font-size: 70px;
}

.row img{
  width: 100%;
}

.row a{
  color: red;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: arial;
}

.menu-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #061250 ;
  background:lightgrey;
  height: 50px;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}


.menu-area a:hover {
  color: blue;
}

.menu-area ul {
  list-style: none;
  display: flex;
}

.menu-area li {
  position: relative;
  width: 250px;
  text-align: center;
}
.logo img{
  width: 150px;
}

.menu-area img{
  width: 50px;
}


header{
  padding:5px;
  background-color: white;
  color:#00235f;
  margin-top: -10px;
}

body{
  margin: 0;
  color:  #00235f ;
  background-color: white;
  padding: 0;
}

.slogan{
  font-size: 70px;
}

.sidenav a {
  font-family: sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: darkblue;
  transition: 0.3s;
  margin-top: 30px;
  font-weight: bold;
}

.sidenav a:hover {
  color: blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.item img{
  width: 100%;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.block img{
   width: 100%;
}

.block p{
  padding: 5px;
}

.block button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #5ADB00;
  border: 0px;
}

button:hover{
  background-color: green;
}

.block h2{
  padding: 5px;
  color: red;
}


.left a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.left a:hover {
  color: #f1f1f1;
}

.container button{
    font-size: 20px;
    width: 120px;
}

.container{
    padding: 10px;
}

	</style>
</head>
<body ng-controller="ProductCtrl">
  <div class="topnav" id="myTopnav">
  <a href="index.html" class="active">Home</a>
  <a href="orders.html">Orders</a>
  <a href="login.html">Profile</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
  <div class="slogan">
    <center><h1>Products</h1></center>
  </div>
<center>
    <body ng-controller="CategoryCtrl">
    <h3>Category List</h3>
    <div class="row">
    <div class="container">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th>category ID</th>
            <th>category name</th>
            <th>description</th>
            </thead>
            <tr ng-repeat="category in categoryList | orderBy:'categoryId'">
                <td ng-bind="category.categoryId"></td>
                <td ng-bind="category.categoryName"></td>
                <td ng-bind="category.categoryDescription"></td>
            </tr>
        </table>
    </div>
    </div>
    </body>
        <h3>Product List</h3>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <button type="button" class="btn btn-success btn-xs active" ng-repeat="category in categoryList" ng-click="getProductsByCategory(category.categoryId)">{{category.categoryName}}</button>
                </span>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <th>ID</th>
                <th>name</th>
                <th>category ID</th>
                <th>unit price</th>
                <th>description</th>
                <th>company ID</th>
                <th>production date</th>
                <th>expiration date</th>
                <th>volume</th>
                <th>barcode</th>
                </thead>
                <tr ng-repeat="product in productList | orderBy:'categoryId'">
                    <td ng-bind="product.productId"></td>
                    <td ng-bind="product.productName"></td>
                    <td ng-bind="product.categoryId"></td>
                    <td ng-bind="product.unitPrice"></td>
                    <td ng-bind="product.description"></td>
                    <td ng-bind="product.companyId"></td>
                    <td ng-bind="product.productionDate"></td>
                    <td ng-bind="product.expireDate"></td>
                    <td ng-bind="product.volume"></td>
                    <td ng-bind="product.barcode"></td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</center>
</body>
</html>
